:root {
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* Grid */

.grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 0 auto;
  max-width: 1400px;
  min-height: 100vh;
}

.grid_left {
  max-width: 200px;
  margin-left: auto;
}

/* Images */

.img-profile {
  max-width: 60%;
  border-radius: 50%;
  border: 3px solid lightgrey;
  margin: 3rem auto 0rem auto;
  box-shadow: 0px 0px 10px 3px lightgray;
}

.img_icon {
  width: 80%;
}

/* Container */

.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-flexStart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  align-content: center;
  flex-wrap: wrap;
}

.codes {
  margin: 2rem 0;
}

/* Menu */

.menu_box {
  height: 40px;
}

.menu_icon {
  height: 20px;
  width: 20px;
}

.menu_text {
  display: none;
}

.menu_h3 {
  margin-left: 1rem;
  font-size: 2rem;
  opacity: 0.7;
}

.size {
  width: 15px;
}

.menu_button {
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.menu_button:hover {
  background-color: rgb(231, 231, 231);
}

.size_phone {
  width: 18px;
}

@media only screen and (min-width: 750px) {
  .container-flexStart {
    justify-content: flex-start;
  }

  .menu_box {
    margin-left: 20%;
  }

  .menu_text {
    display: block;
  }
}

/*TEXT*/

.profile_text {
  text-align: center;
  margin: 0.5rem;
  opacity: 0.8;
}

/* Badge */

.badge {
  padding: 0.5rem 1rem;
  background-color: rgb(206, 5, 5);
  display: inline-block;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  margin: 0.5rem;
}
