:root {
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background-color: #fefeff;
}

/* Grid */

.grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 0 auto;
  max-width: 1400px;
  min-height: 100vh;
  justify-items: center;
  align-items: flex-start;
}

.grid_left {
  max-width: 200px;
  margin-left: auto;
}

.grid_home {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 20px;
  margin: 3rem;
}

.grid_block {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  min-width: 250px;
  max-width: 500px;
  overflow: hidden;
  box-shadow: 0 0 15px 3px lightgrey;
}

@media only screen and (min-width: 950px) {
  .grid_home {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
  }
}

/* Images */

.img-profile {
  max-width: 60%;
  border-radius: 50%;
  border: 3px solid lightgrey;
  margin: 3rem auto 0rem auto;
  box-shadow: 0px 0px 10px 3px lightgray;
}

.img_icon {
  width: 80%;
}

/* Container */

.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-flexStart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  align-content: center;
  flex-wrap: wrap;
}

.codes {
  margin: 2rem 0;
}

.container-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.relative {
  position: relative;
}

.absolute {
  position: fixed;
  width: 100vw;
  height: 100%;
  background: rgba(214, 213, 213, 0.5);
  z-index: 1;
}

.comment-box {
  background-color: red;
  margin-top: 50px;
  padding: 3rem;
  width: 300px;
  border-radius: 10px;
}

.inline-block {
  display: inline-block;
}

.comments-house {
  margin: 5rem auto;
  width: 450px;
  padding: 3rem;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

/* Menu */

.menu_box {
  height: 40px;
}

.menu_icon {
  height: 20px;
  width: 20px;
}

.menu_text {
  display: none;
}

.menu_h3 {
  margin-left: 1rem;
  font-size: 2rem;
  opacity: 0.7;
}

.size {
  width: 15px;
}

.menu_button {
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.menu_button:hover {
  background-color: rgb(231, 231, 231);
}

.size_phone {
  width: 18px;
}

@media only screen and (min-width: 450px) {
  .container-flexStart {
    justify-content: flex-start;
  }

  .menu_text {
    display: block;
  }
  .menu_box {
    margin-left: 10%;
  }
}

@media only screen and (min-width: 750px) {
  .menu_box {
    margin-left: 15%;
  }
}
@media only screen and (min-width: 750px) {
  .menu_box {
    margin-left: 20%;
  }
}

/*TEXT*/

.icon_text {
  display: inline;
  opacity: 0.7;
  margin-left: 0.4rem;
  color: black;
}

.profile_text {
  text-align: center;
  margin: 0.5rem;
  opacity: 0.8;
}

a:visited {
  color: black;
}

a:active {
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

/* Badge */

.badge {
  padding: 0.5rem 1rem;
  background-color: rgb(206, 5, 5);
  display: inline-block;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  margin: 0.5rem;
}

.section {
  color: rgb(206, 5, 5);
  margin: 0.6rem 1rem;
}
.section2 {
  margin: 0.6rem 1rem;
  opacity: 0.7;
}

/* ICON */

.icon {
  width: 20px;
  cursor: pointer;
  opacity: 0.7;
}

.icon-disabled {
  opacity: 0.3;
}

/* BUTTONS */

.noBtn {
  padding: 0;
  border: none;
  background: none;
}

/* FORM */

input {
  outline: none;
  border: 0;
  height: 30px;
  font-size: 1.6rem;
  padding: 0 1rem;
  border-radius: 10px;
}

.form_btn {
  background: blue;
  height: 40px;
  margin-top: 0;
  padding: 0 3rem;
  font-size: 2rem;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
  cursor: pointer;
}

.input2 {
  border: 3px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.comment-text {
  border: 1px solid black;
  width: 60%;
  margin: 30px 0 0 0;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.6rem;
  justify-content: space-between;
}

.closeBox {
  align-self: flex-end;
}

.icon2 {
  margin-left: 10px;
}
