:root {
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* Grid */

.grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 0 auto;
  max-width: 1400px;
  min-height: 100vh;
}

.grid_left {
  border: 3px solid red;
  max-width: 200px;
  margin-left: auto;
}

/* Images */

.img-profile {
  max-width: 60%;
  border-radius: 50%;
  border: 3px solid lightgrey;
  margin: 3rem auto 3rem auto;
  box-shadow: 0px 0px 10px 3px lightgray;
}

.img_icon {
  width: 80%;
}

/* Container */

.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-flexStart {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Menu */

.menu_box {
  border: 1px solid blue;
  height: 40px;
}

.menu_icon {
  height: 20px;
  width: 20px;
}

.menu_text {
  display: none;
}

.menu_h3 {
  margin-left: 1rem;
  font-size: 2rem;
}

@media only screen and (min-width: 750px) {
  .container-flexStart {
    justify-content: flex-start;
  }

  .menu_box {
    margin-left: 20%;
  }

  .menu_text {
    display: block;
  }
}
